.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
.header {
  background-color: rgba(78, 71, 255, 3%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.logo {
  font-size: 34px;
  color: #4e47ff;
  margin: 50px;
}
.h-button {
  margin: 51px;
}

nav ul li {
  list-style: none;
}

.header-father {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
}

.btn-primary {
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
  border: none;
}
.h-f2-n {
  color: #252432;
  font-size: 65px;
  font-weight: bold;
}
.button-space {
  margin-bottom: 152px;
}
.bg {
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: none;
}
.header-father {
  margin: 0px 150px 158px 150px;
}
.header-father2 {
  margin: 309px 267.5px 152px 267.5px;
  text-align: center;
}

/* banner//2nd part */
.banner {
  display: flex;
  margin: 0px 159px 116px 141px;
  justify-content: space-between;
}
.bc1 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.bc2 {
  /* color: #252432; */
  color: rgba(37, 36, 50, 50%);
  font-size: 24px;
}
.webflow-img {
  border-radius: 48px;
}
/* Text//3nd part */
.users {
  background-color: rgba(78, 71, 255, 10%);
  margin-right: 159px;
  margin-left: 141px;
  /* background-color: antiquewhite; */
  /* align-items: center; */
}
.user {
  padding: 50px 142px 50px 142px;
}
.user1 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}
.user2 {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}
.h3 {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
}
/* .u2-1 {
  margin: 135px 0px 50px 0px;
} */

/* cards//4th part */

.card-box {
  /* display: flex; */
  /* background-color: bisque; */
  margin-top: 137px;
  margin-right: 149px;
  margin-left: 151px;
}
.cards {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid; */
  /* box-shadow: 2px; */
}
.card {
  background-color: rgba(255, 255, 255, 50%);
  /* border: 2px solid; */
  border: none;
  border-radius: 14px;
  margin-right: 20px;
  padding: 24px;
}
.card-box-h3 {
  /* display: inline; */
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin: 137px 149px 50px 151px;
  margin-bottom: 50px;
  /* align-items: center; */
}
.pic {
  display: flex;
  border-top: 24px;
}
/* box shaddo */
.lakha {
  margin: 68px 24px 24px 24px;
}

.headers {
  font-size: 24px;
  font-weight: 800;
}
.avatar {
  border-radius: 60px;
  margin-right: 12px;
  margin-bottom: 6px;
}

/* imeages with some upper text//5th part */
.h3-focus {
  font-size: 50px;
  font-weight: bold;
  margin: 71px 312px 0px 312px;
  padding-top: 71px;
}
.cont {
  text-align: center;
}

.template {
  margin-top: 20px;
}
.g-button {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 182px;
  margin-right: 182px;
}
.webflows-img {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin: 0px 150px 71px 320px;
  /* padding: 0px 0px 0px 150px; */
  border-radius: 48px;
  /* margin-right: 299px;
  margin-left: 301px; */
}
.conf {
  margin: 137px 149px 92.3 151px;
  /* background-color: #4e47ff; */
  background-color: rgba(0, 0, 0, 50%);
  background-color: white;
}

/* form part//6th part */

.form-part {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 92.3px 150px 14px 150px;
  /* padding: 130px 230px; */
  display: flex;
  gap: 100px;
  justify-content: space-around;
}
/* .form {
  width: 50%;
} */

form input[type="text"],
form input[type="email"],
form textarea {
  height: 64px;
  border-radius: 10px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}

.h1-touch {
  font-size: 97px;
  font-weight: bold;
  padding: 200px 115px 200px 150px;
  gap: 115px;
}
.form {
  display: block;
  /* align-items: center; */
  /* width: 50%; */
  padding-right: 150px;
  gap: 115px;
  /* justify-content: space-between; */
}
.level {
  font-size: 18px;
  font-weight: 700;
  /* border: 20 px 20px 20px 20px; */
}
.t {
  font-size: 20px;
  padding: 20px 379px 20px 32px;
}
